$titles: #f8fafe;
$body: #eff2f4;
$titles_dark: #162238;
$body_dark: #303b52;
$baltic: #24323f;
$waves: #222d3b;
$seafloor: #1F2632;
$kaliningrad: #293846;
$nord: #2e3440;
$kihnu: #4f6a92;
$gotland: #5e81ac;
$helsinki: #7f9fbf;
$vilnius: #86bfd4;
$stockholm: #92c1bf;
$stockholm_dark: #72a19f;
$gothenburg: #a2bf8f;
$gothenburg_dark: #9ab279;
$sarek: #ebb591;
$kurische: #ffea91;
$tallinn: #c0656f;
$riga: #f75341;
$dainava: #b77fb1;
$nord_snow_dark: #d8dee9;
$nord_snow_med: #e5e9f0;
$nord_snow_light: #eceff4;