<footer class="baltic-footer">
    <div class="copyright"><span class="symbol">/* @copyright</span> {{site.author.name}}<span class="symbol"> */</span></div>
    <div class="footer-content">
        <div class="footer-content_desc">
            {%- include footer_about.html -%}
        </div>
        <div class="footer-content_links">
            {%- include footer_links.html -%}
        </div>
        {%- comment -%}
        TODO: would like to have automatic list of pages or list based on YAML,
        similar to the header, here
        <div class="footer-content_links site-map">
        </div>
        {%- endcomment -%}
    </div>
</footer>