@charset "utf-8";

@import "baltic/color";
@import "baltic/layout";
@import "baltic/rouge-nord";

html {
    font-family: "Jetbrains Mono", "Courier New", monospace;
}

html, 
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: $waves;
    color: $body;

    &.light {
        background-color: $nord_snow_med;
        color: $body_dark;
    }
}

h1 {
    font-weight: 900;
    color: $gotland;
}

h3 {
    font-weight: 200;
}

strong { 
    font-weight: 900;
}

a {
    text-decoration: none;
}

hr {
    color: $vilnius;
    max-width: 90ch;
    margin: 40px 0;
}

.header {
    display: grid;
    grid-template-columns: auto auto;
    padding: 40px $pad_h;
    background-color: $baltic;
    border-bottom:4px solid #222d36;

    .header-title-link {
        font-weight: 700;
        color: $body;
        transition: 0.2s;

        &:hover {
            color: $riga;
        }
    }

    .header-nav {

    }

    .header-nav-link {
        margin: 0 20px;
        font-weight: 500;
        color: $vilnius;
        transition: 0.2s;

        &:hover {
            color: $dainava;
        }
    }
}

.content-area {
    display: block;
    max-width: calc(100vw - $pad_h);
    margin: 40px $pad_h;

    p {
        max-width: 90ch;
    }

    figure {
        margin: 0;
        
        figcaption {
            margin: 10px 0 20px $border_radius;
            padding: $border_radius;
            border-left: 4px solid $riga;
            font-size: 0.85em;
            font-style: italic;
            color: $tallinn;
        }
    }

    video,
    img {
        max-width: 100%;
        border-radius: 12px;
    }
}
